<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.1" targetFramework="net462" />
  <package id="WP.Share.Data.Dapper" version="1.0.1-feature02" targetFramework="net462" />
  <package id="WP.Share.Data.Domain.Core" version="1.0.1-feature02" targetFramework="net462" />
  <package id="WP.Share.Data.Id.Single" version="1.0.3-preview01" targetFramework="net462" />
  <package id="WP.Share.Security.Encryption" version="1.0.5" targetFramework="net462" />
</packages>